/*****************************************************************************
  Base Styles
******************************************************************************/
body {
	font-size: 1.5em;
	font-weight: 300;
	letter-spacing: 1.0px;
	color: #000;
}

footer {
	font-size: 0.7em;
	padding: 8px;
	background-color: #e7e7e7;
	border-top: 1px solid #CACACA;
}

footer p {
	margin-bottom: 0px;

}



/* Video embed on homepage */
section.video {
	margin-top: 50px;
}

section {
	padding: 20px;
}

section.red {
	background-color: rgba(240, 26, 36, 1);
	color: #fff;
}


/*****************************************************************************
  Layout Styles
******************************************************************************/

/* Enable hover dropdown for nav on desktop */
@media only screen and (min-width : 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .container-fluid {
    	margin: auto 15%;
    }
}

.embed-responsive-item {
	padding: 50px;
}

.lead {
	line-height: 1.6;
}

/* Buttons ---------------------------------- */
.btn-danger {
	background-color: #f01a24;
}

/*****************************************************************************
  Module Styles
******************************************************************************/

/* Navbar ---------------------------------- */
.navbar-default {
	padding: 8px;
	background-color: #fff;
	border-color: #000;
	border-bottom: 1px solid #000;
	font-family: ;
	font-weight: 400;
	box-shadow: 0px 0px 10px #000;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #000;
}


.navbar-default .navbar-nav > li > a {
	color: #000;
}

.navbar-default .navbar-nav > li > a:hover,
.dropdown-menu > li > a:hover {
	color: #f01a24;
	transition: 0.3s all;
}