/*****************************************************************************
  Base Styles
******************************************************************************/
body {
	font-size: 1.5em;
	font-weight: 300;
	letter-spacing: 1.0px;
	color: #000;
}

footer {
	font-size: 0.7em;
	padding: 8px;
	background-color: #f5f5f5;
	border-top: 1px solid #e7e7e7;
}

footer p {
	margin-bottom: 0px;

}

/* Video embed on homepage */
section.first {
	margin-top: 60px;
}

section {

}

h1, h2, h3, h4, h5, h6 {
		font-family: 'Lato', sans-serif;
}

h1 {
	position: absolute;
	top: 20%;
	left: 30%;
	font-size: 2.9em;
	font-weight: 600;
	text-align: center;
	background-color: rgba(240, 26, 36, 0.7);
	padding: 15px;
}

/*h2 {
	font-size: 1.5em;
	margin: 50px 70px;
	text-align: center;
}
*/
p {
	font-family: 'Lato', sans-serif;
	line-height: 1.7em;
}

	.p-heading {
			margin-top: 25px;
	}

	.p-address {
		margin: 0;
	}


a, a:visited, a:hover, a:active, a:focus {
	transition: 0.3s all;
	text-decoration: underline;
}

a, a:visited {
	color: #000;
}

a:hover, a:focus {
	color: #f01a24;
	text-decoration: none;
}


@media only screen and (min-width : 768px) {
	section.first {
		padding: 30px;
	}
}

/*****************************************************************************
  Layout Styles
******************************************************************************/

.red-bg {
	background-color: rgba(240, 26, 36, 1);
	color: #fff;
/*	width: 100%;
	height: 400px;*/
}


.img-circle {
	border-radius: 16%;
	margin: 50px 45px;
}

.img-responsive {
	display: inline-block;
}

.glyphicon-chevron-right ,
.glyphicon-ok{
	color: 	#f01a24;
}

.embed-responsive-item {
	padding: 40px;
}

.lead {
	line-height: 1.6;
}

/* Enable hover dropdown for nav on desktop -- */
@media only screen and (min-width : 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .container-fluid {
    	margin: auto 15%;
    }
}

/* Buttons ---------------------------------- */
.btn-danger {
	padding: 6px 20px;
	background-color: #f01a24;
	font-weight: 600;
	border-radius: 15px;
}

/*****************************************************************************
  Module Styles
******************************************************************************/


/* Navbar ---------------------------------- */
.navbar-default {
	padding: 8px;
	background-color: #fff;
	border-color: #000;
	border-bottom: 1px solid #000;
	font-family: ;
	font-weight: 500;
	box-shadow: 0px 0px 10px #000;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #000;
}

.navbar-default .navbar-nav > li > a {
	color: #000;
	text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover,
.dropdown-menu > li > a:hover {
	color: #f01a24;
	transition: 0.3s all;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover {
	color: #f01a24;
	background-color: #fff;
}

.dropdown-menu > li > a {
	padding: 8px 20px;
	text-decoration: none;
}



@media only screen and (max-width : 768px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	  color: #000;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	  color: #f01a24;
	  background-color: #f5f5f5; 
	}
}