/*****************************************************************************
  Base Styles
******************************************************************************/
body {
	font-size: 1.5em;
	font-weight: 300;
	letter-spacing: 1.0px;
	color: #000;
}

footer {
	font-size: 0.7em;
	padding: 8px;
	background-color: #f5f5f5;
	border-top: 1px solid #e7e7e7;
}

footer p {
	margin-bottom: 0px;

}

/* Video embed on homepage */
section.first {
	margin-top: 50px;
}

section {
	padding: 20px;
}

section.red {
	background-color: rgba(240, 26, 36, 1);
	color: #fff;
}

a, a:visited, a:hover, a:active, a:focus {
	transition: 0.3s all;
}

a, a:visited {
	color: #000;
}

a:hover, a:focus {
	color: #f01a24;
}

@media only screen and (min-width : 768px) {

}

/*****************************************************************************
  Layout Styles
******************************************************************************/

/* Enable hover dropdown for nav on desktop */
@media only screen and (min-width : 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .container-fluid {
    	margin: auto 15%;
    }
}

.embed-responsive-item {
	padding: 40px;
}

.lead {
	line-height: 1.6;
}

/* Buttons ---------------------------------- */
.btn-danger {
	padding: 6px 20px;
	background-color: #f01a24;
	font-weight: 600;
	border-radius: 15px;
}

/*****************************************************************************
  Module Styles
******************************************************************************/

/* Navbar ---------------------------------- */
.navbar-default {
	padding: 8px;
	background-color: #fff;
	border-color: #000;
	border-bottom: 1px solid #000;
	font-family: ;
	font-weight: 400;
	box-shadow: 0px 0px 10px #000;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #000;
}

.navbar-default .navbar-nav > li > a {
	color: #000;
}

.navbar-default .navbar-nav > li > a:hover,
.dropdown-menu > li > a:hover {
	color: #f01a24;
	transition: 0.3s all;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover {
	color: #f01a24;
	background-color: #fff;
}

.dropdown-menu > li > a {
	padding: 8px 20px;
}

@media only screen and (max-width : 768px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	  color: #000;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	  color: #f01a24;
	  background-color: #f5f5f5; 
	}
}