/*****************************************************************************
  Base Styles
******************************************************************************/
body {
	font-size: 1.5em;
	font-weight: 200;
	letter-spacing: 1.0px;
	color: #000;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}

footer {
	padding: 15px;
	margin-top: 15px;
	font-size: 0.8em;
	background-color: #f5f5f5;
	border-top: 1px solid #e7e7e7;
}

footer p {
	margin-top: 10px;

}

footer a {
	padding-left: 11px;
}

section.first {
	margin-top: 60px;
}

h1 {
	position: absolute;
	padding: 5px;
	font-size: 1.8em;
	font-weight: 600;
	background-color: rgba(240, 26, 36, 0.7);
}

h3 {
	margin: 40px auto;
	font-weight: 600;
}

p {
	line-height: 1.7em;
}

	.p-heading {
		margin-top: 25px;
	}

	.p-address {
		margin: 0;
	}

a, a:visited, a:active, a:focus {
	transition: 0.3s all;
	text-decoration: underline;
}

a, a:visited {
	color: #000;
}

a:hover, a:focus {
	color: #f01a24;
	text-decoration: none;
}


@media only screen and (min-width: 768px) {
	section.first {
		padding: 35px;
	}

	h1 {
		/*top: 11%;*/
		margin-top: 30px;
		font-size: 3.5em;
	}

	footer {
		margin-top: 40px;
		font-size: 0.9em;
	}

	.p-heading {
		margin-top: 25px;
	}
}

/*****************************************************************************
  Layout Styles
******************************************************************************/
.p-partners {
	margin: 0px;
}

.red-bg {
	background-color: rgba(240, 26, 36, 1);
	color: #fff;
}

.lead {
	line-height: 1.6;
	font-weight: 600;
}

.h-heading {
	margin-top: 20px;
}

.r-partners {
	margin-top: 25px;
}

.glyphicon-chevron-right ,
.glyphicon-file {
	color: 	#f01a24;
}

.hp-logo {
	padding-top: 10px;
}

.form-control {
	padding: 15px;
	height: 3.5em;
}

.form-control:focus {
	border-color: #f01a24;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(240,26,36,.2);
}

.video {
	padding: 0px;
}


@media only screen and (min-width : 768px) {
    /* Enable hover dropdown for nav on desktop -- */
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .container-fluid {
    	margin: auto 15%;
    }

    .hp-logo {
		padding-top: 70px;
	}

	.lead {
		margin-top: 40px;
	}

	.h-heading {
		margin-top: 40px;
	}

	.p-heading {
		margin-top: 40px;
	}
}

/* Buttons ---------------------------------- */
.btn-danger {
	padding: 6px 20px;
	background-color: #f01a24;
	font-weight: 600;
	border: 1px solid #f01a24;
	border-radius: 15px;
	font-family: Helvetica, Arial, sans-serif;
}

.btn-success {
	padding: 6px 20px;
	font-weight: 600;
	border: 1px solid #5cb85c;
	border-radius: 15px;
	font-family: Helvetica, Arial, sans-serif;
}

/*****************************************************************************
  Module Styles
******************************************************************************/

/* Navbar ---------------------------------- */
.navbar-default {
	padding: 8px;
	background-color: #fff;
	border-color: #000;
	border-bottom: 1px solid #000;
	font-weight: 500;
	box-shadow: 0px 0px 6px #000;
	font-family: Helvetica, Arial, sans-serif;
}

.navbar-brand {
	padding: 0px 15px;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #000;
}

.navbar-default .navbar-nav > li > a {
	color: #000;
	text-decoration: none;
	font-size: 1.0em;
}

.navbar-default .navbar-nav > li > a:hover,
.dropdown-menu > li > a:hover {
	color: #f01a24;
	transition: 0.3s all;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover {
	color: #f01a24;
	background-color: #fff;
}

.dropdown-menu > li > a {
	padding: 8px 20px;
	font-size: 1.1em;
	text-decoration: none;
}

.navbar-default .navbar-nav > li > .lang-fr {
	font-size: 0.8em;
	margin-left: 15px;
	margin-top: 12px;
	border-left: 1px solid #9A9A9A;
	padding: 5px 0 5px 20px;
	color: #9A9A9A;
}

@media only screen and (max-width : 768px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	  color: #000;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	  color: #f01a24;
	  background-color: #f5f5f5; 
	}

	.navbar-default .navbar-nav > li > .lang-fr {
		font-size: 1.0em;
		margin-left: 0;
		margin-top: 0;
		padding: 10px 15px;
		border-left: none;
	}
}