/*****************************************************************************
  Base Styles
******************************************************************************/
body {
	font-size: 1.5em;
	font-weight: 300;
	letter-spacing: 1.0px;
	color: #000;
}

footer {
	font-size: 0.7em;
	padding: 8px;
	background-color: #f5f5f5;
	border-top: 1px solid #e7e7e7;
}

footer p {
	margin-bottom: 0px;

}

section.first {
	margin-top: 60px;
}

h1, h2, h3, h4, h5, h6 {
		font-family: 'Lato', sans-serif;
}

h1 {
	position: absolute;
	top: 80px;
	font-size: 1.8em;
	font-weight: 600;
	background-color: rgba(240, 26, 36, 0.7);
	padding: 5px;
}

h3 {
	margin: 30px auto;
	font-weight: 600;
}

p {
	font-family: 'Lato', sans-serif;
	line-height: 1.7em;
}

	.p-heading {
			margin-top: 25px;
	}

	.p-address {
		margin: 0;
	}


a, a:visited, a:hover, a:active, a:focus {
	transition: 0.3s all;
	text-decoration: underline;
}

a, a:visited {
	color: #000;
}

a:hover, a:focus {
	color: #f01a24;
	text-decoration: none;
}


@media only screen and (min-width: 768px) {
	section.first {
		padding: 35px;
	}

	h1 {
		top: 10%;
		font-size: 3.5em;
	}

}

/*****************************************************************************
  Layout Styles
******************************************************************************/

.red-bg {
	background-color: rgba(240, 26, 36, 1);
	color: #fff;
}

.lead {
	line-height: 1.6;
	font-weight: 600;
}

.h-heading {
	margin-top: 30px;
}

.r-partners {
	margin-top: 25px;
}

.glyphicon-chevron-right ,
.glyphicon-ok{
	color: 	#f01a24;
}

.hp-logo {
	padding-top: 10px;
}

.form-control {
	padding: 15px;
	height: 3.5em;
}

@media only screen and (min-width : 768px) {
    /* Enable hover dropdown for nav on desktop -- */
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .container-fluid {
    	margin: auto 15%;
    }

    .hp-logo {
	padding-top: 70px;
	}
}

/* Buttons ---------------------------------- */
.btn-danger {
	padding: 6px 20px;
	background-color: #f01a24;
	font-weight: 600;
	border-radius: 15px;
}

/*****************************************************************************
  Module Styles
******************************************************************************/

/* Navbar ---------------------------------- */
.navbar-default {
	padding: 8px;
	background-color: #fff;
	border-color: #000;
	border-bottom: 1px solid #000;
	font-family: ;
	font-weight: 500;
	box-shadow: 0px 0px 10px #000;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #000;
}

.navbar-default .navbar-nav > li > a {
	color: #000;
	text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover,
.dropdown-menu > li > a:hover {
	color: #f01a24;
	transition: 0.3s all;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover {
	color: #f01a24;
	background-color: #fff;
}

.dropdown-menu > li > a {
	padding: 8px 20px;
	text-decoration: none;
}

@media only screen and (max-width : 768px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	  color: #000;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	  color: #f01a24;
	  background-color: #f5f5f5; 
	}
}